{{#if flash.enabled}}
    {{> components/flash_tools}}
{{/if}}
<div class="frame-1">
  <div class="frame-1-1">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>
  <div class="frame-1-2">
    <form class="frame-1-2-1" id="search-form" novalidate="">
      <input type="search" placeholder="O que você está precisando?"  id="search-input" required="" autocomplete="off"/>
      <button  type="submit" id="nav-search-button">
        <span class=" icon-search" id="imagem-container4">
          <img src="https://i.postimg.cc/RZX02RXc/Group-417-1.png" id="frame-img-search">
          <img src="https://i.postimg.cc/LXVQVJH6/Group-418.png" id="frame-img-search-hover">
        </span>
      </button>
    </form>
  </div>
  <div class="frame-1-3">
    <a href="#" id="imagem-container1">
      <img id="frame-1-3-1" src="https://i.postimg.cc/pV9H54Z8/Perfil.png">
      <img id="frame-1-3-1-hover" src="https://i.postimg.cc/FFdNHGzr/Perfil.png">
    </a>
    <a href="https://www.nanopro.com.br/gz/cart" target="_blank"  id="imagem-container2">
      <img id="frame-1-3-2" src="https://i.postimg.cc/BvddTQNK/Contato.png">
      <img id="frame-1-3-2-hover" src="https://i.postimg.cc/FswfK7Nq/Contato.png">
    </a>
    <a href="" target="_blank"  id="imagem-container3">
      <img id="frame-1-3-3" src="https://i.postimg.cc/vHQCLK73/Carrinho.png">
      <img id="frame-1-3-3-hover" src="https://i.postimg.cc/m29L8VWX/Carrinho.png">
    </a>
  </div>
</div>
<nav class="frame-2">
  <a class="nav-link active" aria-current="page" href="https://www.nanopro.com.br/_Discount_5-100" target="_blank">Indústria e comércio</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-redondo" target="_blank">Casa, móveis e decoração</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-organico" target="_blank">Animais</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-oval" target="_blank">saúde</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-com-led" target="_blank">Construção</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-base-reta" target="_blank">Mais Categorias</a>
</nav>



{{!-- Mobile --}}


<header class="frame-1-mobile">

  <div class="frame-1-1-mobile">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="42" viewBox="0 0 54 42" fill="none">
        <path d="M0 3C0 1.34315 1.34315 0 3 0H51C52.6569 0 54 1.34315 54 3C54 4.65685 52.6569 6 51 6H3C1.34315 6 0 4.65685 0 3Z" fill="white"/>
        <path d="M0 21C0 19.3431 1.34315 18 3 18H51C52.6569 18 54 19.3431 54 21C54 22.6569 52.6569 24 51 24H3C1.34315 24 0 22.6569 0 21Z" fill="white"/>
        <path d="M0 39C0 37.3431 1.34315 36 3 36H51C52.6569 36 54 37.3431 54 39C54 40.6569 52.6569 42 51 42H3C1.34315 42 0 40.6569 0 39Z" fill="white"/>
      </svg>
    </button>
  </div>



  <div class="frame-1-2-mobile">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-3-mobile">
    <a href="#">
      <img src="https://i.postimg.cc/hGctztf9/Group.png">
    </a>
    <a href="https://www.nanopro.com.br/gz/cart" target="_blank">
      <img src="https://i.postimg.cc/X7nWkzVb/Group-1.png"> 
    </a>
    <a href="https://www.nanopro.com.br/gz/cart" target="_blank">
      <img src="https://i.postimg.cc/bYCgmGPw/Group-2.png">
    </a>
  </div>
</header>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div class="title_bttn-mobile">
      <button class="frame-bttn-mobile"  data-bs-dismiss="offcanvas" aria-label="Close">
      X
    </button>
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categorias</h5>
    </div>
      <div class="frame-1-4-mobile">
        <form class="form-mobile" id="search-form-responsive" novalidate="">
          <input type="search" placeholder="Procurando?"  id="search-input-responsive" required="" autocomplete="off"/>
          <button  type="submit" id="nav-search-button">
            <span class="icon-search">
              <img src="https://i.postimg.cc/wTB4X7f9/Group-417-1.png">
            </span>
          </button>
        </form>
      </div>
  </div>
  <div class="offcanvas-body">
    <ul class="menu" aria-labelledby="dropdownMenuButton">
      <li> <a class="nav-link active" aria-current="page" href="https://www.nanopro.com.br/_Discount_5-100" target="_blank">Indústria e comércio</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-redondo" target="_blank">casa, móveis e decoração</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-organico" target="_blank">animais</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-oval" target="_blank">Saúde</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-com-led" target="_blank">Construção</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-com-led" target="_blank">mais categorias</a></li>
    </ul>
  </div>
</div>